@import '../../../styles/sass/custom-variables';

.nav-item {
  color: white;
  font-weight: 100;

  &.active {
    font-weight: 600;
    text-decoration: none;
    
    &:hover {
      color: white;
    }
  }

  &:hover,
  &:active {
    color: #fec006;
    text-decoration: none;
  }
}
.nav-item-gov {
  color: white;
  font-weight: 100;
  font-family: $font-family-montserrat;

  &.active {
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  &:hover,
  &:active {
    color: #fec006;
    text-decoration: none;
  }
}

.bp3-popover.header-nav-popover .bp3-popover-content {
    border: none;
    overflow: hidden;
    background-color: black !important;
    & .bp3-menu {
      padding: 0;
      & a {
        font-weight: normal;
      }
    }
  }

  .min-h {
    min-height: 70px;
  }