@import '../../../styles/sass/custom-variables';

.nav-item {
  color: white;
  font-weight: 100;
  font-family: $font-family-montserrat;

  &.active {
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  &:hover,
  &:active {
    color: #fec006;
    text-decoration: none;
  }
}
.nav-item-gov {
  color: white;
  font-weight: 100;
  font-family: $font-family-montserrat;

  &.active {
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  &:hover,
  &:active {
    color: #fec006;
    text-decoration: none;
  }
}

.bp3-popover.header-nav-popover .bp3-popover-content {
    border: none;
    background-color: black !important;
    overflow: hidden;
    & .bp3-menu {
      padding: 0;
      & a {
        font-weight: normal;
      }
    }
  }
.bg-gold {
    --tw-bg-opacity: 0.1;
    background-color: rgba(254, 192, 4, var(--tw-bg-opacity))!important;
}
.bg-gold-full {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 192, 4, var(--tw-bg-opacity))!important;
}
.pd {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}