/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@layer base {
    body {
        @apply font-roboto min-h-full bg-gray-300;
        font-size: 16px;
    }

    html {
        @apply min-h-full;
    }

    .skeleton {
        animation: skeleton-glow 1s linear infinite alternate;
        background: rgba(206,217,224,.2);
        background-clip: padding-box!important;
        border-color: rgba(206,217,224,.2)!important;
        border-radius: 2px;
        box-shadow: none!important;
        color: transparent!important;
        cursor: default;
        pointer-events: none;
        user-select: none;
    }

    .skeleton *, .skeleton:after, .skeleton:before {
        visibility: hidden!important;
    }

    @keyframes skeleton-glow {
        0% {
            background: rgba(206,217,224,.5);
            border-color: rgba(206,217,224,.9);
        }
        100% {
            background: rgba(92,112,128,.5);
            border-color: rgba(92,112,128,.9);
        }
    }

    .aspect-ratio-16\/9 {
        padding-bottom: 56.25%;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl font-bold;
    }

    .bordered-b-gray {
        border-bottom-width: 1px;
        border-bottom-color: theme('colors.gray.200');
    }

    .vote-area {
        max-height: 145px;
        overflow: hidden;
    }

    .bordered-list-item {
        border-bottom-width: 1px;
        border-bottom-color: theme('colors.gray.200');
        border-left-width: 3px;
        border-left-color: transparent;
    }

    .bordered-list-item:hover {
        border-left-color: theme('colors.green.500');
    }

    .pulsating-dot {
        position: relative;
        width: 35px;
        height: 35px;
    }

    .pulsating-dot:after {
        content: '';
        border: 3px solid theme('colors.indigo.700');
        -webkit-border-radius: 30px;
        height: 25px;
        width: 25px;
        position: absolute;
        left: 5px;
        top: 5px;
        -webkit-animation: pulsate 2s ease-out;
        -webkit-animation-iteration-count: infinite;
        opacity: 0.0
    }

    .pulsating-dot:before {
        content: '';
        width: 15px;
        height: 15px;
        background-color: theme('colors.indigo.700');
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 10px;
    }


    @keyframes pulsate {
        0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
        50% {opacity: 1.0;}
        100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
    }

    @screen md {
        h1 {
            @apply text-5xl;
        }
    }

    .proposal-state {
        @apply relative flex flex-row justify-start items-center pr-3;
    }

    .proposal-state:before {
        content: ' ';
        border-radius: 50%;
        height: 24px;
        width: 24px;
        background-size: 100% 100%;
        position: absolute;
        left: -32px;
    }

    .proposal-state__active:before {
        background: theme('colors.green.500');
    }

    .proposal-state__active:after {
        content: " ";
        display: block;
        width: 4.8px;
        height: 9.6px;
        border: solid white;
        border-width: 0 1.6px 1.6px 0;
        position: absolute;
        transform: rotate(45deg);
        top: 7px;
        left: -22px;
    }

    .proposal-state__failed:before {
        background: theme('colors.gray.500');
    }

    .proposal-state__failed:after {
        content: " ";
        display: inline-block;
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 10px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.77104 1.66231L8.3572 1.24847L5.06397 4.5417L1.77657 1.24847L1.36273 1.66231L4.65596 4.94971L1.36273 8.24294L1.77657 8.65678L5.06397 5.36355L8.3572 8.65678L8.77104 8.24294L5.47781 4.94971L8.77104 1.66231Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.59574 1.6627L6.30251 4.9501L9.59537 8.24297L8.35723 9.48111L5.06436 6.18825L1.77696 9.48148L0.538451 8.24297L3.83132 4.9501L0.538086 1.6627L1.77696 0.423828L5.06436 3.71706L8.35723 0.424193L9.59574 1.6627ZM1.77657 1.24847L1.36273 1.66231L4.65596 4.94971L4.65271 4.95302L4.65184 4.95388L1.36273 8.24294L1.77657 8.65678L5.06397 5.36355L8.3572 8.65678L8.77104 8.24294L5.47781 4.94971L8.77104 1.66231L8.3572 1.24847L5.06814 4.53759L5.06728 4.53845L5.06397 4.5417L1.77657 1.24847Z' fill='white'/%3E%3C/svg%3E%0A");
        z-index: 1;
        top: 7px;
        left: -25px;
    }
}
