/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@layer base {
    body {
        @apply font-montserrat text-white min-h-full bg-gray-light;
        font-size: 16px;
        letter-spacing: 1.2px;
        line-height: 1.5;
    }

    html {
        @apply min-h-full;
    }

    .skeleton {
        animation: skeleton-glow 1s linear infinite alternate;
        background: rgba(206,217,224,.2);
        background-clip: padding-box!important;
        border-color: rgba(206,217,224,.2)!important;
        border-radius: 2px;
        box-shadow: none!important;
        color: transparent!important;
        cursor: default;
        pointer-events: none;
        user-select: none;
    }

    .skeleton *, .skeleton:after, .skeleton:before {
        visibility: hidden!important;
    }

    @keyframes skeleton-glow {
        0% {
            background: rgba(206,217,224,.5);
            border-color: rgba(206,217,224,.9);
        }
        100% {
            background: rgba(92,112,128,.5);
            border-color: rgba(92,112,128,.9);
        }
    }

    .aspect-ratio-16\/9 {
        padding-bottom: 56.25%;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-xl;
    }
    h3 > a,
    h3 > a:hover {
        @apply text-gold;
        display: none;
    }
    @screen xl {
        h1 {
            @apply text-5xl;
        }
        h2 {
            @apply font-bold;
            font-size: 40px;
        }
        h3 {
            @apply text-4xl;
        }
    }

    .bordered-b-gray {
        border-bottom-width: 1px;
        border-bottom-color: theme('colors.gray.200');
    }

    .vote-area {
        max-height: 145px;
        overflow: hidden;
    }

    .bordered-list-item {
        border-bottom-width: 1px;
        border-bottom-color: theme('colors.gray.200');
        border-left-width: 3px;
        border-left-color: transparent;
    }

    .bordered-list-item:hover {
        border-left-color: theme('colors.green.500');
    }

    .pulsating-dot {
        position: relative;
        width: 35px;
        height: 35px;
    }

    .pulsating-dot:after {
        content: '';
        border: 3px solid theme('colors.indigo.700');
        -webkit-border-radius: 30px;
        height: 25px;
        width: 25px;
        position: absolute;
        left: 5px;
        top: 5px;
        -webkit-animation: pulsate 2s ease-out;
        -webkit-animation-iteration-count: infinite;
        opacity: 0.0
    }
    .pulsating-dot:before {
        content: '';
        width: 15px;
        height: 15px;
        background-color: theme('colors.indigo.700');
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    @keyframes pulsate {
        0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
        50% {opacity: 1.0;}
        100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
    }

    @screen md {
        h1 {
            @apply text-5xl;
        }
    }

    .max-w-130 {
        max-width: 130px;
    }
    .max-h-12 {
        max-height: 3.5rem;
    }
    .p-18 {
        padding: 3.9rem 4.4rem;
    }
    .leading-12	{line-height: 3rem;}

}